.tieude{
    font-weight: bolder;
    color: darkslategrey;
    font-size: 25px;
}
table{
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid;
    margin-left: auto;
}
.tieude1{
    font-weight: bold;
    font-size: 23px;
    color: darkgreen;
}
body{
    font-size: 20px;
}
section{
    background: lightcyan;
}