.tieude{
    font-weight: bolder;
    color: darkslategrey;
    font-size: 25px;
}
table{
    text-align: center;
}
.tieude1{
    font-weight: bold;
    font-size: 23px;
    color: darkgreen;
}
body{
    font-size: 20px;
}